.header {
  background-image: none;
}

@media (min-width: 768px) {
  .header {
    background-image: url("/landing/header/fusion-hero.png");
    background-repeat: no-repeat;
    background-size: 66%;
    background-position-x: 132%;
    background-position-y: 100%;
  }
}

@media (min-width: 1024px) {
  .header {
    background-size: 66%;
  }
}

@media (min-width: 1536px) {
  .header {
    background-size: 68%;
  }
}

@media (min-width: 1920px) {
  .header {
    background-size: 70%;
  }
}
