@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  background: #141414;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px solid #141414;
}

::-moz-selection {
  color: #121212;
  background: #a9a9a9;
}

::selection {
  color: #121212;
  background: #a9a9a9;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.paragraph {
  @apply text-base md:text-xl xl:text-2xl;
}

.animated-underline {
  @apply relative inline-block;
}

.animated-underline::after {
  content: "";
  @apply absolute w-0 h-0.5 -bottom-px left-0 bg-white transition-all duration-300 ease-in-out;
}

.animated-underline:hover::after {
  @apply w-full;
}

.particule {
  position: absolute;
  background-color: aliceblue;
  opacity: 0.3;
  z-index: 0;
}

.circle {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 0%;
  margin: 0 4px;
}

.circle-1 {
  background-image: url("/landing/bento/op-logo.svg");
  background-repeat: no-repeat;
}

.circle-2 {
  background-image: url("/landing/bento/arb-logo.svg");
  background-repeat: no-repeat;
}

.circle-3 {
  background-image: url("/landing/bento/base-logo.svg");
  background-repeat: no-repeat;
}

.circle-4 {
  background-image: url("/landing/bento/celo-logo.svg");
  background-repeat: no-repeat;
}
