@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 23, 23, 23;
  --background-end-rgb: 23, 23, 23;
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  background: #141414;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px solid #141414;
}

::-moz-selection {
  color: #121212;
  background: #a9a9a9;
}

::selection {
  color: #121212;
  background: #a9a9a9;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.paragraph {
  @apply text-base md:text-xl xl:text-2xl 3xl:text-3xl;
}

.animated-underline {
  @apply relative inline-block;
}

.animated-underline::after {
  content: "";
  @apply absolute w-0 h-0.5 -bottom-px left-0 bg-white transition-all duration-300 ease-in-out;
}

.animated-underline:hover::after {
  @apply w-full;
}
